@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GameOfSquids";
  src: url("../fonts/GameOfSquids.otf") format("opentype");
}

body {
  position: relative;
  min-height: 100vh;
}
.body-second-child {
  position: absolute;
  transform: translate(50%, 50%);
  /* rotate: 45deg; */
  z-index: -90;
  background-color: #ec0e88c6;
  animation: rotate 10s linear infinite;
}

.body-third-child {
  position: absolute;
  /* transform: translate(50%, 50%); */
  /* transform-origin: 50% 50%; */
  /* rotate: 45deg; */
  z-index: -90;
  background-color: #ec0e88c6;
  animation: rotate 10s linear infinite;
}

.body-first-child {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -80;
  width: 100%;
  backdrop-filter: blur(200px);
  min-height: 100vh;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  background-color: black;
  min-height: 100vh;
}
.stroke-text {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(195, 148, 148);
  color: rgba(0, 0, 0, 0);
  /* color: transparent; Text color */
  /* background-clip: text; */
  /* text-shadow: -1px -1px 0 rgb(186, 67, 67), 1px -1px 0 rgb(186, 67, 67),
    -1px 1px 0 rgb(186, 67, 67), 1px 1px 0 rgb(186, 67, 67); Shadow with different offsets to create the stroke */
}

.scroll-lock {
  overflow: hidden;
}
